!!!
%html{ lang: "en" }
  %head
    %title Mynder
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css", :rel=>"stylesheet"}
    %meta
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/shared/navbar"
    %main
      .container-fluid
        .row
          .col-md-10.col-md-offset-1
            = yield
    %script{:src=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}

